In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Load the dataset
df = pd.read_csv("crm_data_2000.csv")
df.head()

   user_id age_group location  previous_purchases     last_offer  response
0     2000     adult       IN                   9       discount  no_click
1     2001     young       UK                   2  free_shipping  no_click
2     2002     young       IN                   2       discount     click
3     2003     adult       AU                   0       buy1get1  no_click
4     2004     young       IN                   7       buy1get1  no_click

In [5]:
# Encode categorical columns
encoders = {}
for col in ["age_group", "location", "last_offer"]:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    encoders[col] = le

encoders

{'age_group': LabelEncoder(),
 'location': LabelEncoder(),
 'last_offer': LabelEncoder()}

In [6]:
df.head()

   user_id  age_group  location  previous_purchases  last_offer  response
0     2000          0         2                   9           1  no_click
1     2001          2         3                   2           2  no_click
2     2002          2         2                   2           1     click
3     2003          0         0                   0           0  no_click
4     2004          2         2                   7           0  no_click

In [7]:
# Create state tuples
df["state"] = list(zip(df.age_group, df.location, df.previous_purchases))

df.head()

,user_id,age_group,location,previous_purchases,last_offer,response,state
0,2000,0,2,9,1,no_click,"(0, 2, 9)"
1,2001,2,3,2,2,no_click,"(2, 3, 2)"
2,2002,2,2,2,1,click,"(2, 2, 2)"
3,2003,0,0,0,0,no_click,"(0, 0, 0)"
4,2004,2,2,7,0,no_click,"(2, 2, 7)"

In [8]:
# Define state/action space
unique_states = df["state"].unique()
unique_actions = df["last_offer"].unique()

In [9]:
unique_states

array([(0, 2, 9), (2, 3, 2), (2, 2, 2), (0, 0, 0), (2, 2, 7), (1, 1, 8),
       (2, 4, 8), (1, 4, 2), (1, 2, 2), (2, 2, 3), (2, 1, 2), (0, 1, 1),
       (0, 2, 5), (2, 2, 6), (1, 1, 6), (2, 2, 8), (1, 3, 8), (0, 0, 6),
       (1, 4, 4), (1, 0, 10), (1, 4, 9), (0, 3, 1), (1, 3, 10), (1, 0, 9),
       (0, 3, 4), (2, 1, 6), (1, 1, 9), (0, 0, 5), (0, 0, 8), (2, 1, 3),
       (1, 2, 1), (0, 4, 10), (1, 4, 8), (0, 0, 1), (1, 0, 4), (1, 4, 7),
       (0, 2, 2), (0, 4, 0), (0, 3, 2), (1, 3, 0), (2, 3, 10), (2, 3, 8),
       (0, 2, 4), (2, 3, 7), (0, 1, 3), (2, 0, 7), (0, 0, 9), (1, 3, 6),
       (2, 4, 5), (1, 3, 1), (1, 3, 3), (0, 4, 3), (1, 3, 5), (0, 2, 0),
       (1, 1, 2), (2, 1, 10), (1, 4, 5), (0, 3, 9), (1, 0, 6), (1, 1, 5),
       (2, 1, 0), (2, 2, 1), (2, 2, 9), (2, 3, 6), (0, 1, 8), (0, 3, 7),
       (2, 0, 2), (0, 0, 7), (2, 3, 1), (2, 3, 4), (0, 1, 0), (2, 0, 0),
       (0, 1, 5), (2, 4, 10), (1, 2, 0), (2, 4, 2), (1, 2, 4), (1, 3, 9),
       (2, 4, 9), (2, 3, 3), (1, 4, 3), (1, 2, 5), (2, 0, 5), (2, 4, 1),
       (2, 3, 9), (1, 0, 1), (2, 4, 0), (1, 4, 10), (1, 4, 6), (1, 0, 8),
       (0, 1, 9), (1, 0, 7), (2, 0, 1), (0, 4, 4), (0, 2, 3), (0, 1, 2),
       (1, 1, 3), (0, 4, 7), (0, 2, 1), (2, 2, 5), (0, 1, 4), (1, 1, 0),
       (0, 2, 7), (1, 0, 5), (1, 0, 0), (2, 0, 6), (1, 1, 10), (2, 4, 3),
       (1, 3, 4), (2, 3, 0), (1, 1, 4), (1, 4, 1), (0, 1, 7), (2, 3, 5),
       (0, 4, 9), (2, 2, 10), (0, 0, 4), (1, 2, 8), (0, 3, 3), (1, 2, 10),
       (0, 1, 10), (0, 2, 8), (1, 2, 9), (2, 1, 5), (2, 0, 9), (1, 0, 2),
       (0, 4, 5), (2, 2, 0), (0, 3, 0), (2, 4, 7), (2, 1, 7), (1, 2, 7),
       (0, 0, 2), (0, 3, 5), (0, 4, 2), (2, 0, 3), (2, 1, 9), (0, 4, 1),
       (0, 4, 6), (0, 4, 8), (0, 1, 6), (2, 1, 8), (2, 0, 4), (2, 0, 8),
       (2, 4, 6), (0, 2, 6), (0, 0, 3), (2, 4, 4), (1, 3, 2), (2, 1, 4),
       (1, 2, 6), (2, 1, 1), (1, 1, 7), (1, 2, 3), (2, 2, 4), (0, 0, 10),
       (2, 0, 10), (1, 3, 7), (0, 2, 10), (0, 3, 6), (1, 1, 1), (1, 4, 0),
       (1, 0, 3), (0, 3, 8), (0, 3, 10)], dtype=object)

In [10]:
unique_actions

array([1, 2, 0])

In [11]:
state_to_index = {s: i for i, s in enumerate(unique_states)}
state_to_index

{(0, 2, 9): 0,
 (2, 3, 2): 1,
 (2, 2, 2): 2,
 (0, 0, 0): 3,
 (2, 2, 7): 4,
 (1, 1, 8): 5,
 (2, 4, 8): 6,
 (1, 4, 2): 7,
 (1, 2, 2): 8,
 (2, 2, 3): 9,
 (2, 1, 2): 10,
 (0, 1, 1): 11,
 (0, 2, 5): 12,
 (2, 2, 6): 13,
 (1, 1, 6): 14,
 (2, 2, 8): 15,
 (1, 3, 8): 16,
 (0, 0, 6): 17,
 (1, 4, 4): 18,
 (1, 0, 10): 19,
 (1, 4, 9): 20,
 (0, 3, 1): 21,
 (1, 3, 10): 22,
 (1, 0, 9): 23,
 (0, 3, 4): 24,
 (2, 1, 6): 25,
 (1, 1, 9): 26,
 (0, 0, 5): 27,
 (0, 0, 8): 28,
 (2, 1, 3): 29,
 (1, 2, 1): 30,
 (0, 4, 10): 31,
 (1, 4, 8): 32,
 (0, 0, 1): 33,
 (1, 0, 4): 34,
 (1, 4, 7): 35,
 (0, 2, 2): 36,
 (0, 4, 0): 37,
 (0, 3, 2): 38,
 (1, 3, 0): 39,
 (2, 3, 10): 40,
 (2, 3, 8): 41,
 (0, 2, 4): 42,
 (2, 3, 7): 43,
 (0, 1, 3): 44,
 (2, 0, 7): 45,
 (0, 0, 9): 46,
 (1, 3, 6): 47,
 (2, 4, 5): 48,
 (1, 3, 1): 49,
 (1, 3, 3): 50,
 (0, 4, 3): 51,
 (1, 3, 5): 52,
 (0, 2, 0): 53,
 (1, 1, 2): 54,
 (2, 1, 10): 55,
 (1, 4, 5): 56,
 (0, 3, 9): 57,
 (1, 0, 6): 58,
 (1, 1, 5): 59,
 (2, 1, 0): 60,
 (2, 2, 1): 61,
 (2, 2, 9): 62,
 (2, 3, 6): 63,
 (0, 1, 8): 64,
 (0, 3, 7): 65,
 (2, 0, 2): 66,
 (0, 0, 7): 67,
 (2, 3, 1): 68,
 (2, 3, 4): 69,
 (0, 1, 0): 70,
 (2, 0, 0): 71,
 (0, 1, 5): 72,
 (2, 4, 10): 73,
 (1, 2, 0): 74,
 (2, 4, 2): 75,
 (1, 2, 4): 76,
 (1, 3, 9): 77,
 (2, 4, 9): 78,
 (2, 3, 3): 79,
 (1, 4, 3): 80,
 (1, 2, 5): 81,
 (2, 0, 5): 82,
 (2, 4, 1): 83,
 (2, 3, 9): 84,
 (1, 0, 1): 85,
 (2, 4, 0): 86,
 (1, 4, 10): 87,
 (1, 4, 6): 88,
 (1, 0, 8): 89,
 (0, 1, 9): 90,
 (1, 0, 7): 91,
 (2, 0, 1): 92,
 (0, 4, 4): 93,
 (0, 2, 3): 94,
 (0, 1, 2): 95,
 (1, 1, 3): 96,
 (0, 4, 7): 97,
 (0, 2, 1): 98,
 (2, 2, 5): 99,
 (0, 1, 4): 100,
 (1, 1, 0): 101,
 (0, 2, 7): 102,
 (1, 0, 5): 103,
 (1, 0, 0): 104,
 (2, 0, 6): 105,
 (1, 1, 10): 106,
 (2, 4, 3): 107,
 (1, 3, 4): 108,
 (2, 3, 0): 109,
 (1, 1, 4): 110,
 (1, 4, 1): 111,
 (0, 1, 7): 112,
 (2, 3, 5): 113,
 (0, 4, 9): 114,
 (2, 2, 10): 115,
 (0, 0, 4): 116,
 (1, 2, 8): 117,
 (0, 3, 3): 118,
 (1, 2, 10): 119,
 (0, 1, 10): 120,
 (0, 2, 8): 121,
 (1, 2, 9): 122,
 (2, 1, 5): 123,
 (2, 0, 9): 124,
 (1, 0, 2): 125,
 (0, 4, 5): 126,
 (2, 2, 0): 127,
 (0, 3, 0): 128,
 (2, 4, 7): 129,
 (2, 1, 7): 130,
 (1, 2, 7): 131,
 (0, 0, 2): 132,
 (0, 3, 5): 133,
 (0, 4, 2): 134,
 (2, 0, 3): 135,
 (2, 1, 9): 136,
 (0, 4, 1): 137,
 (0, 4, 6): 138,
 (0, 4, 8): 139,
 (0, 1, 6): 140,
 (2, 1, 8): 141,
 (2, 0, 4): 142,
 (2, 0, 8): 143,
 (2, 4, 6): 144,
 (0, 2, 6): 145,
 (0, 0, 3): 146,
 (2, 4, 4): 147,
 (1, 3, 2): 148,
 (2, 1, 4): 149,
 (1, 2, 6): 150,
 (2, 1, 1): 151,
 (1, 1, 7): 152,
 (1, 2, 3): 153,
 (2, 2, 4): 154,
 (0, 0, 10): 155,
 (2, 0, 10): 156,
 (1, 3, 7): 157,
 (0, 2, 10): 158,
 (0, 3, 6): 159,
 (1, 1, 1): 160,
 (1, 4, 0): 161,
 (1, 0, 3): 162,
 (0, 3, 8): 163,
 (0, 3, 10): 164}

In [12]:
action_space_size = len(unique_actions)
state_space_size = len(unique_states)

action_space_size, state_space_size

(3, 165)

In [13]:
# Initialize Q-table
Q = np.zeros((state_space_size, action_space_size))
Q

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [14]:
# Map response to rewards
df["reward"] = df["response"].apply(lambda x: 1 if x == "click" else 0)
df.head()

,user_id,age_group,location,previous_purchases,last_offer,response,state,reward
0,2000,0,2,9,1,no_click,"(0, 2, 9)",0
1,2001,2,3,2,2,no_click,"(2, 3, 2)",0
2,2002,2,2,2,1,click,"(2, 2, 2)",1
3,2003,0,0,0,0,no_click,"(0, 0, 0)",0
4,2004,2,2,7,0,no_click,"(2, 2, 7)",0

In [18]:
# Q-learning parameters
alpha = 0.1
gamma = 0.9

# Training loop
for _, row in df.iterrows():
    print(f"row is {row}")
    state_idx = state_to_index[row["state"]]
    print(f"state_idx is {state_idx}")
    #break
    action = row["last_offer"]
    reward = row["reward"]
    next_state_idx = state_idx
    print(f"next_state_idx is {next_state_idx}")
    best_next = np.max(Q[next_state_idx])
    print(f"best_next is {best_next}")
    Q[state_idx, action] = Q[state_idx, action] + alpha * (reward + gamma * best_next - Q[state_idx, action])
    print(f"Q[state_idx, action] is {Q[state_idx, action]}")
    print("***************************************************************")

Streaming output truncated to the last 5000 lines.
Q[state_idx, action] is 0.23463812069100004
***************************************************************
row is user_id                    3643
age_group                     1
location                      4
previous_purchases            2
last_offer                    1
response               no_click
state                 (1, 4, 2)
reward                        0
Name: 1643, dtype: object
state_idx is 7
next_state_idx is 7
best_next is 0.3943911674880452
Q[state_idx, action] is 0.2659453496519893
***************************************************************
row is user_id                    3644
age_group                     2
location                      2
previous_purchases            3
last_offer                    1
response               no_click
state                 (2, 2, 3)
reward                        0
Name: 1644, dtype: object
state_idx is 9
next_state_idx is 9
best_next is 0.4825304642560996
Q[state_idx, action] is 0.4777051596135386
***************************************************************
row is user_id                    3645
age_group                     2
location                      2
previous_purchases            5
last_offer                    2
response               no_click
state                 (2, 2, 5)
reward                        0
Name: 1645, dtype: object
state_idx is 99
next_state_idx is 99
best_next is 0.22457882200375714
Q[state_idx, action] is 0.20636988098771167
***************************************************************
row is user_id                    3646
age_group                     0
location                      3
previous_purchases            2
last_offer                    0
response               no_click
state                 (0, 3, 2)
reward                        0
Name: 1646, dtype: object
state_idx is 38
next_state_idx is 38
best_next is 0.8407063751305472
Q[state_idx, action] is 0.3544634801385491
***************************************************************
row is user_id                    3647
age_group                     1
location                      4
previous_purchases            8
last_offer                    1
response                  click
state                 (1, 4, 8)
reward                        1
Name: 1647, dtype: object
state_idx is 32
next_state_idx is 32
best_next is 0.22755605782690003
Q[state_idx, action] is 0.23190218193132103
***************************************************************
row is user_id                    3648
age_group                     1
location                      3
previous_purchases            4
last_offer                    1
response               no_click
state                 (1, 3, 4)
reward                        0
Name: 1648, dtype: object
state_idx is 108
next_state_idx is 108
best_next is 0.293069601
Q[state_idx, action] is 0.129558849062049
***************************************************************
row is user_id                    3649
age_group                     1
location                      4
previous_purchases            3
last_offer                    2
response                  click
state                 (1, 4, 3)
reward                        1
Name: 1649, dtype: object
state_idx is 80
next_state_idx is 80
best_next is 0.7649627151212561
Q[state_idx, action] is 0.44775195399645906
***************************************************************
row is user_id                    3650
age_group                     0
location                      3
previous_purchases            2
last_offer                    1
response                  click
state                 (0, 3, 2)
reward                        1
Name: 1650, dtype: object
state_idx is 38
next_state_idx is 38
best_next is 0.8407063751305472
Q[state_idx, action] is 0.9322993113792418
***************************************************************
row is user_id                    3651
age_group                     1
location                      0
previous_purchases            1
last_offer                    1
response               no_click
state                 (1, 0, 1)
reward                        0
Name: 1651, dtype: object
state_idx is 85
next_state_idx is 85
best_next is 0.58519850599
Q[state_idx, action] is 0.4677272387634939
***************************************************************
row is user_id                    3652
age_group                     0
location                      0
previous_purchases            1
last_offer                    0
response               no_click
state                 (0, 0, 1)
reward                        0
Name: 1652, dtype: object
state_idx is 33
next_state_idx is 33
best_next is 0.3037159082161978
Q[state_idx, action] is 0.11782162439056897
***************************************************************
row is user_id                    3653
age_group                     0
location                      0
previous_purchases            4
last_offer                    1
response               no_click
state                 (0, 0, 4)
reward                        0
Name: 1653, dtype: object
state_idx is 116
next_state_idx is 116
best_next is 0.579463554720799
Q[state_idx, action] is 0.5736689191735911
***************************************************************
row is user_id                    3654
age_group                     2
location                      0
previous_purchases            9
last_offer                    1
response               no_click
state                 (2, 0, 9)
reward                        0
Name: 1654, dtype: object
state_idx is 124
next_state_idx is 124
best_next is 0.39483378100000005
Q[state_idx, action] is 0.27284791371480005
***************************************************************
row is user_id                    3655
age_group                     1
location                      0
previous_purchases            8
last_offer                    1
response               no_click
state                 (1, 0, 8)
reward                        0
Name: 1655, dtype: object
state_idx is 89
next_state_idx is 89
best_next is 0.20376881075901765
Q[state_idx, action] is 0.19574718016968584
***************************************************************
row is user_id                     3656
age_group                      1
location                       1
previous_purchases            10
last_offer                     2
response                no_click
state                 (1, 1, 10)
reward                         0
Name: 1656, dtype: object
state_idx is 106
next_state_idx is 106
best_next is 0.4985728223446091
Q[state_idx, action] is 0.26604090589033424
***************************************************************
row is user_id                    3657
age_group                     0
location                      0
previous_purchases            2
last_offer                    1
response               no_click
state                 (0, 0, 2)
reward                        0
Name: 1657, dtype: object
state_idx is 132
next_state_idx is 132
best_next is 0.2901779149401
Q[state_idx, action] is 0.287276135790699
***************************************************************
row is user_id                    3658
age_group                     1
location                      2
previous_purchases            8
last_offer                    1
response               no_click
state                 (1, 2, 8)
reward                        0
Name: 1658, dtype: object
state_idx is 117
next_state_idx is 117
best_next is 0.19873414900000003
Q[state_idx, action] is 0.09017778736899001
***************************************************************
row is user_id                    3659
age_group                     2
location                      3
previous_purchases            1
last_offer                    1
response               no_click
state                 (2, 3, 1)
reward                        0
Name: 1659, dtype: object
state_idx is 68
next_state_idx is 68
best_next is 0.6784274520421051
Q[state_idx, action] is 0.193911274195543
***************************************************************
row is user_id                    3660
age_group                     2
location                      1
previous_purchases            7
last_offer                    2
response                  click
state                 (2, 1, 7)
reward                        1
Name: 1660, dtype: object
state_idx is 130
next_state_idx is 130
best_next is 0.3940399
Q[state_idx, action] is 0.2828807398
***************************************************************
row is user_id                    3661
age_group                     2
location                      4
previous_purchases            6
last_offer                    2
response                  click
state                 (2, 4, 6)
reward                        1
Name: 1661, dtype: object
state_idx is 144
next_state_idx is 144
best_next is 0.4890814228312011
Q[state_idx, action] is 0.5841906086028891
***************************************************************
row is user_id                    3662
age_group                     0
location                      0
previous_purchases            6
last_offer                    0
response               no_click
state                 (0, 0, 6)
reward                        0
Name: 1662, dtype: object
state_idx is 17
next_state_idx is 17
best_next is 0.5017560797986351
Q[state_idx, action] is 0.12688437939678426
***************************************************************
row is user_id                     3663
age_group                      0
location                       0
previous_purchases            10
last_offer                     0
response                no_click
state                 (0, 0, 10)
reward                         0
Name: 1663, dtype: object
state_idx is 155
next_state_idx is 155
best_next is 0.29654827390000005
Q[state_idx, action] is 0.07891687893690003
***************************************************************
row is user_id                    3664
age_group                     1
location                      3
previous_purchases            6
last_offer                    2
response               no_click
state                 (1, 3, 6)
reward                        0
Name: 1664, dtype: object
state_idx is 47
next_state_idx is 47
best_next is 0.19602990000000003
Q[state_idx, action] is 0.08114223600000002
***************************************************************
row is user_id                     3665
age_group                      1
location                       1
previous_purchases            10
last_offer                     0
response                   click
state                 (1, 1, 10)
reward                         1
Name: 1665, dtype: object
state_idx is 106
next_state_idx is 106
best_next is 0.4985728223446091
Q[state_idx, action] is 0.593587094121163
***************************************************************
row is user_id                    3666
age_group                     2
location                      2
previous_purchases            6
last_offer                    1
response                  click
state                 (2, 2, 6)
reward                        1
Name: 1666, dtype: object
state_idx is 13
next_state_idx is 13
best_next is 0.19513805185960678
Q[state_idx, action] is 0.22535767215944072
***************************************************************
row is user_id                    3667
age_group                     2
location                      2
previous_purchases            6
last_offer                    1
response               no_click
state                 (2, 2, 6)
reward                        0
Name: 1667, dtype: object
state_idx is 13
next_state_idx is 13
best_next is 0.22535767215944072
Q[state_idx, action] is 0.22310409543784632
***************************************************************
row is user_id                    3668
age_group                     2
location                      1
previous_purchases            8
last_offer                    1
response               no_click
state                 (2, 1, 8)
reward                        0
Name: 1668, dtype: object
state_idx is 141
next_state_idx is 141
best_next is 0.30687161485362724
Q[state_idx, action] is 0.303802898705091
***************************************************************
row is user_id                    3669
age_group                     1
location                      2
previous_purchases            6
last_offer                    1
response               no_click
state                 (1, 2, 6)
reward                        0
Name: 1669, dtype: object
state_idx is 150
next_state_idx is 150
best_next is 0.20754308775144586
Q[state_idx, action] is 0.0586433934388838
***************************************************************
row is user_id                    3670
age_group                     1
location                      0
previous_purchases            2
last_offer                    1
response               no_click
state                 (1, 0, 2)
reward                        0
Name: 1670, dtype: object
state_idx is 125
next_state_idx is 125
best_next is 0.4763609377157145
Q[state_idx, action] is 0.4715973283385574
***************************************************************
row is user_id                    3671
age_group                     1
location                      0
previous_purchases            8
last_offer                    0
response                  click
state                 (1, 0, 8)
reward                        1
Name: 1671, dtype: object
state_idx is 89
next_state_idx is 89
best_next is 0.20376881075901765
Q[state_idx, action] is 0.2158354841188787
***************************************************************
row is user_id                    3672
age_group                     2
location                      2
previous_purchases            5
last_offer                    0
response               no_click
state                 (2, 2, 5)
reward                        0
Name: 1672, dtype: object
state_idx is 99
next_state_idx is 99
best_next is 0.22457882200375714
Q[state_idx, action] is 0.22233303378371957
***************************************************************
row is user_id                    3673
age_group                     0
location                      0
previous_purchases            9
last_offer                    1
response                  click
state                 (0, 0, 9)
reward                        1
Name: 1673, dtype: object
state_idx is 46
next_state_idx is 46
best_next is 0.48629114697872927
Q[state_idx, action] is 0.5790296129414279
***************************************************************
row is user_id                    3674
age_group                     1
location                      3
previous_purchases            7
last_offer                    1
response               no_click
state                 (1, 3, 7)
reward                        0
Name: 1674, dtype: object
state_idx is 157
next_state_idx is 157
best_next is 0.19801000000000002
Q[state_idx, action] is 0.04771071000000001
***************************************************************
row is user_id                    3675
age_group                     1
location                      0
previous_purchases            5
last_offer                    2
response               no_click
state                 (1, 0, 5)
reward                        0
Name: 1675, dtype: object
state_idx is 103
next_state_idx is 103
best_next is 0.9791093632940197
Q[state_idx, action] is 0.23865111301225245
***************************************************************
row is user_id                    3676
age_group                     1
location                      3
previous_purchases            1
last_offer                    2
response               no_click
state                 (1, 3, 1)
reward                        0
Name: 1676, dtype: object
state_idx is 49
next_state_idx is 49
best_next is 0.293069601
Q[state_idx, action] is 0.08964996570000003
***************************************************************
row is user_id                    3677
age_group                     2
location                      3
previous_purchases            3
last_offer                    1
response               no_click
state                 (2, 3, 3)
reward                        0
Name: 1677, dtype: object
state_idx is 79
next_state_idx is 79
best_next is 0.3826261941911562
Q[state_idx, action] is 0.37879993224924463
***************************************************************
row is user_id                    3678
age_group                     1
location                      4
previous_purchases            6
last_offer                    0
response               no_click
state                 (1, 4, 6)
reward                        0
Name: 1678, dtype: object
state_idx is 88
next_state_idx is 88
best_next is 0.5771668868644239
Q[state_idx, action] is 0.19608288551502062
***************************************************************
row is user_id                    3679
age_group                     0
location                      2
previous_purchases            5
last_offer                    0
response               no_click
state                 (0, 2, 5)
reward                        0
Name: 1679, dtype: object
state_idx is 12
next_state_idx is 12
best_next is 0.48507692287051907
Q[state_idx, action] is 0.21444406824926873
***************************************************************
row is user_id                    3680
age_group                     2
location                      0
previous_purchases            2
last_offer                    1
response                  click
state                 (2, 0, 2)
reward                        1
Name: 1680, dtype: object
state_idx is 66
next_state_idx is 66
best_next is 0.49565296588193697
Q[state_idx, action] is 0.5906964362231176
***************************************************************
row is user_id                    3681
age_group                     0
location                      0
previous_purchases            3
last_offer                    1
response                  click
state                 (0, 0, 3)
reward                        1
Name: 1681, dtype: object
state_idx is 146
next_state_idx is 146
best_next is 0.31953120418612374
Q[state_idx, action] is 0.41633589214426253
***************************************************************
row is user_id                    3682
age_group                     1
location                      2
previous_purchases            2
last_offer                    2
response               no_click
state                 (1, 2, 2)
reward                        0
Name: 1682, dtype: object
state_idx is 8
next_state_idx is 8
best_next is 0.494603305502801
Q[state_idx, action] is 0.2066505194276865
***************************************************************
row is user_id                    3683
age_group                     0
location                      4
previous_purchases            9
last_offer                    0
response               no_click
state                 (0, 4, 9)
reward                        0
Name: 1683, dtype: object
state_idx is 114
next_state_idx is 114
best_next is 0.8644866355391342
Q[state_idx, action] is 0.5807142406144861
***************************************************************
row is user_id                     3684
age_group                      1
location                       4
previous_purchases            10
last_offer                     1
response                no_click
state                 (1, 4, 10)
reward                         0
Name: 1684, dtype: object
state_idx is 87
next_state_idx is 87
best_next is 0.39208950100000006
Q[state_idx, action] is 0.126179694981
***************************************************************
row is user_id                    3685
age_group                     2
location                      1
previous_purchases            2
last_offer                    0
response               no_click
state                 (2, 1, 2)

In [21]:
# Display best marketing action per state
print("\nBest offer per user segment:")
for state, idx in state_to_index.items():
    print(f"state is {state}")
    print(f"idx is {idx}")
    best_action_idx = np.argmax(Q[idx])
    age = encoders["age_group"].inverse_transform([state[0]])[0]
    loc = encoders["location"].inverse_transform([state[1]])[0]
    offer = encoders["last_offer"].inverse_transform([best_action_idx])[0]
    print(f"{(age, loc, state[2])}  {offer}")
    print("********************************************")

Best offer per user segment:
state is (0, 2, 9)
idx is 0
('adult', 'IN', 9)  buy1get1
********************************************
state is (2, 3, 2)
idx is 1
('young', 'UK', 2)  free_shipping
********************************************
state is (2, 2, 2)
idx is 2
('young', 'IN', 2)  buy1get1
********************************************
state is (0, 0, 0)
idx is 3
('adult', 'AU', 0)  discount
********************************************
state is (2, 2, 7)
idx is 4
('young', 'IN', 7)  free_shipping
********************************************
state is (1, 1, 8)
idx is 5
('senior', 'CA', 8)  buy1get1
********************************************
state is (2, 4, 8)
idx is 6
('young', 'US', 8)  free_shipping
********************************************
state is (1, 4, 2)
idx is 7
('senior', 'US', 2)  buy1get1
********************************************
state is (1, 2, 2)
idx is 8
('senior', 'IN', 2)  buy1get1
********************************************
state is (2, 2, 3)
idx is 9
('young', 'IN', 3)  discount
********************************************
state is (2, 1, 2)
idx is 10
('young', 'CA', 2)  discount
********************************************
state is (0, 1, 1)
idx is 11
('adult', 'CA', 1)  discount
********************************************
state is (0, 2, 5)
idx is 12
('adult', 'IN', 5)  discount
********************************************
state is (2, 2, 6)
idx is 13
('young', 'IN', 6)  discount
********************************************
state is (1, 1, 6)
idx is 14
('senior', 'CA', 6)  buy1get1
********************************************
state is (2, 2, 8)
idx is 15
('young', 'IN', 8)  free_shipping
********************************************
state is (1, 3, 8)
idx is 16
('senior', 'UK', 8)  buy1get1
********************************************
state is (0, 0, 6)
idx is 17
('adult', 'AU', 6)  discount
********************************************
state is (1, 4, 4)
idx is 18
('senior', 'US', 4)  buy1get1
********************************************
state is (1, 0, 10)
idx is 19
('senior', 'AU', 10)  discount
********************************************
state is (1, 4, 9)
idx is 20
('senior', 'US', 9)  buy1get1
********************************************
state is (0, 3, 1)
idx is 21
('adult', 'UK', 1)  discount
********************************************
state is (1, 3, 10)
idx is 22
('senior', 'UK', 10)  buy1get1
********************************************
state is (1, 0, 9)
idx is 23
('senior', 'AU', 9)  buy1get1
********************************************
state is (0, 3, 4)
idx is 24
('adult', 'UK', 4)  discount
********************************************
state is (2, 1, 6)
idx is 25
('young', 'CA', 6)  free_shipping
********************************************
state is (1, 1, 9)
idx is 26
('senior', 'CA', 9)  buy1get1
********************************************
state is (0, 0, 5)
idx is 27
('adult', 'AU', 5)  discount
********************************************
state is (0, 0, 8)
idx is 28
('adult', 'AU', 8)  discount
********************************************
state is (2, 1, 3)
idx is 29
('young', 'CA', 3)  buy1get1
********************************************
state is (1, 2, 1)
idx is 30
('senior', 'IN', 1)  buy1get1
********************************************
state is (0, 4, 10)
idx is 31
('adult', 'US', 10)  buy1get1
********************************************
state is (1, 4, 8)
idx is 32
('senior', 'US', 8)  discount
********************************************
state is (0, 0, 1)
idx is 33
('adult', 'AU', 1)  discount
********************************************
state is (1, 0, 4)
idx is 34
('senior', 'AU', 4)  buy1get1
********************************************
state is (1, 4, 7)
idx is 35
('senior', 'US', 7)  buy1get1
********************************************
state is (0, 2, 2)
idx is 36
('adult', 'IN', 2)  discount
********************************************
state is (0, 4, 0)
idx is 37
('adult', 'US', 0)  discount
********************************************
state is (0, 3, 2)
idx is 38
('adult', 'UK', 2)  discount
********************************************
state is (1, 3, 0)
idx is 39
('senior', 'UK', 0)  free_shipping
********************************************
state is (2, 3, 10)
idx is 40
('young', 'UK', 10)  buy1get1
********************************************
state is (2, 3, 8)
idx is 41
('young', 'UK', 8)  free_shipping
********************************************
state is (0, 2, 4)
idx is 42
('adult', 'IN', 4)  discount
********************************************
state is (2, 3, 7)
idx is 43
('young', 'UK', 7)  free_shipping
********************************************
state is (0, 1, 3)
idx is 44
('adult', 'CA', 3)  discount
********************************************
state is (2, 0, 7)
idx is 45
('young', 'AU', 7)  free_shipping
********************************************
state is (0, 0, 9)
idx is 46
('adult', 'AU', 9)  discount
********************************************
state is (1, 3, 6)
idx is 47
('senior', 'UK', 6)  buy1get1
********************************************
state is (2, 4, 5)
idx is 48
('young', 'US', 5)  free_shipping
********************************************
state is (1, 3, 1)
idx is 49
('senior', 'UK', 1)  discount
********************************************
state is (1, 3, 3)
idx is 50
('senior', 'UK', 3)  buy1get1
********************************************
state is (0, 4, 3)
idx is 51
('adult', 'US', 3)  discount
********************************************
state is (1, 3, 5)
idx is 52
('senior', 'UK', 5)  buy1get1
********************************************
state is (0, 2, 0)
idx is 53
('adult', 'IN', 0)  discount
********************************************
state is (1, 1, 2)
idx is 54
('senior', 'CA', 2)  buy1get1
********************************************
state is (2, 1, 10)
idx is 55
('young', 'CA', 10)  free_shipping
********************************************
state is (1, 4, 5)
idx is 56
('senior', 'US', 5)  buy1get1
********************************************
state is (0, 3, 9)
idx is 57
('adult', 'UK', 9)  buy1get1
********************************************
state is (1, 0, 6)
idx is 58
('senior', 'AU', 6)  buy1get1
********************************************
state is (1, 1, 5)
idx is 59
('senior', 'CA', 5)  buy1get1
********************************************
state is (2, 1, 0)
idx is 60
('young', 'CA', 0)  free_shipping
********************************************
state is (2, 2, 1)
idx is 61
('young', 'IN', 1)  free_shipping
********************************************
state is (2, 2, 9)
idx is 62
('young', 'IN', 9)  free_shipping
********************************************
state is (2, 3, 6)
idx is 63
('young', 'UK', 6)  free_shipping
********************************************
state is (0, 1, 8)
idx is 64
('adult', 'CA', 8)  discount
********************************************
state is (0, 3, 7)
idx is 65
('adult', 'UK', 7)  discount
********************************************
state is (2, 0, 2)
idx is 66
('young', 'AU', 2)  discount
********************************************
state is (0, 0, 7)
idx is 67
('adult', 'AU', 7)  discount
********************************************
state is (2, 3, 1)
idx is 68
('young', 'UK', 1)  free_shipping
********************************************
state is (2, 3, 4)
idx is 69
('young', 'UK', 4)  free_shipping
********************************************
state is (0, 1, 0)
idx is 70
('adult', 'CA', 0)  discount
********************************************
state is (2, 0, 0)
idx is 71
('young', 'AU', 0)  free_shipping
********************************************
state is (0, 1, 5)
idx is 72
('adult', 'CA', 5)  free_shipping
********************************************
state is (2, 4, 10)
idx is 73
('young', 'US', 10)  discount
********************************************
state is (1, 2, 0)
idx is 74
('senior', 'IN', 0)  buy1get1
********************************************
state is (2, 4, 2)
idx is 75
('young', 'US', 2)  free_shipping
********************************************
state is (1, 2, 4)
idx is 76
('senior', 'IN', 4)  buy1get1
********************************************
state is (1, 3, 9)
idx is 77
('senior', 'UK', 9)  free_shipping
********************************************
state is (2, 4, 9)
idx is 78
('young', 'US', 9)  free_shipping
********************************************
state is (2, 3, 3)
idx is 79
('young', 'UK', 3)  discount
********************************************
state is (1, 4, 3)
idx is 80
('senior', 'US', 3)  buy1get1
********************************************
state is (1, 2, 5)
idx is 81
('senior', 'IN', 5)  buy1get1
********************************************
state is (2, 0, 5)
idx is 82
('young', 'AU', 5)  free_shipping
********************************************
state is (2, 4, 1)
idx is 83
('young', 'US', 1)  free_shipping
********************************************
state is (2, 3, 9)
idx is 84
('young', 'UK', 9)  free_shipping
********************************************
state is (1, 0, 1)
idx is 85
('senior', 'AU', 1)  buy1get1
********************************************
state is (2, 4, 0)
idx is 86
('young', 'US', 0)  buy1get1
********************************************
state is (1, 4, 10)
idx is 87
('senior', 'US', 10)  buy1get1
********************************************
state is (1, 4, 6)
idx is 88
('senior', 'US', 6)  discount
********************************************
state is (1, 0, 8)
idx is 89
('senior', 'AU', 8)  buy1get1
********************************************
state is (0, 1, 9)
idx is 90
('adult', 'CA', 9)  discount
********************************************
state is (1, 0, 7)
idx is 91
('senior', 'AU', 7)  buy1get1
********************************************
state is (2, 0, 1)
idx is 92
('young', 'AU', 1)  discount
********************************************
state is (0, 4, 4)
idx is 93
('adult', 'US', 4)  discount
********************************************
state is (0, 2, 3)
idx is 94
('adult', 'IN', 3)  free_shipping
********************************************
state is (0, 1, 2)
idx is 95
('adult', 'CA', 2)  buy1get1
********************************************
state is (1, 1, 3)
idx is 96
('senior', 'CA', 3)  buy1get1
********************************************
state is (0, 4, 7)
idx is 97
('adult', 'US', 7)  discount
********************************************
state is (0, 2, 1)
idx is 98
('adult', 'IN', 1)  free_shipping
********************************************
state is (2, 2, 5)
idx is 99
('young', 'IN', 5)  buy1get1
********************************************
state is (0, 1, 4)
idx is 100
('adult', 'CA', 4)  discount
********************************************
state is (1, 1, 0)
idx is 101
('senior', 'CA', 0)  buy1get1
********************************************
state is (0, 2, 7)
idx is 102
('adult', 'IN', 7)  discount
********************************************
state is (1, 0, 5)
idx is 103
('senior', 'AU', 5)  buy1get1
********************************************
state is (1, 0, 0)
idx is 104
('senior', 'AU', 0)  buy1get1
********************************************
state is (2, 0, 6)
idx is 105
('young', 'AU', 6)  free_shipping
********************************************
state is (1, 1, 10)
idx is 106
('senior', 'CA', 10)  buy1get1
********************************************
state is (2, 4, 3)
idx is 107
('young', 'US', 3)  free_shipping
********************************************
state is (1, 3, 4)
idx is 108
('senior', 'UK', 4)  buy1get1
********************************************
state is (2, 3, 0)
idx is 109
('young', 'UK', 0)  free_shipping
********************************************
state is (1, 1, 4)
idx is 110
('senior', 'CA', 4)  discount
********************************************
state is (1, 4, 1)
idx is 111
('senior', 'US', 1)  buy1get1
********************************************
state is (0, 1, 7)
idx is 112
('adult', 'CA', 7)  discount
********************************************
state is (2, 3, 5)
idx is 113
('young', 'UK', 5)  free_shipping
********************************************
state is (0, 4, 9)
idx is 114
('adult', 'US', 9)  discount
********************************************
state is (2, 2, 10)
idx is 115
('young', 'IN', 10)  discount
********************************************
state is (0, 0, 4)
idx is 116
('adult', 'AU', 4)  discount
********************************************
state is (1, 2, 8)
idx is 117
('senior', 'IN', 8)  buy1get1
********************************************
state is (0, 3, 3)
idx is 118
('adult', 'UK', 3)  discount
********************************************
state is (1, 2, 10)
idx is 119
('senior', 'IN', 10)  buy1get1
********************************************
state is (0, 1, 10)
idx is 120
('adult', 'CA', 10)  discount
********************************************
state is (0, 2, 8)
idx is 121
('adult', 'IN', 8)  buy1get1
********************************************
state is (1, 2, 9)
idx is 122
('senior', 'IN', 9)  free_shipping
********************************************
state is (2, 1, 5)
idx is 123
('young', 'CA', 5)  free_shipping
********************************************
state is (2, 0, 9)
idx is 124
('young', 'AU', 9)  free_shipping
********************************************
state is (1, 0, 2)
idx is 125
('senior', 'AU', 2)  discount
********************************************
state is (0, 4, 5)
idx is 126
('adult', 'US', 5)  buy1get1
********************************************
state is (2, 2, 0)
idx is 127
('young', 'IN', 0)  discount
********************************************
state is (0, 3, 0)
idx is 128
('adult', 'UK', 0)  discount
********************************************
state is (2, 4, 7)
idx is 129
('young', 'US', 7)  buy1get1
********************************************
state is (2, 1, 7)
idx is 130
('young', 'CA', 7)  buy1get1
********************************************
state is (1, 2, 7)
idx is 131
('senior', 'IN', 7)  buy1get1
********************************************
state is (0, 0, 2)
idx is 132
('adult', 'AU', 2)  discount
********************************************
state is (0, 3, 5)
idx is 133
('adult', 'UK', 5)  discount
********************************************
state is (0, 4, 2)
idx is 134
('adult', 'US', 2)  discount
********************************************
state is (2, 0, 3)
idx is 135
('young', 'AU', 3)  buy1get1
********************************************
state is (2, 1, 9)
idx is 136
('young', 'CA', 9)  discount
********************************************
state is (0, 4, 1)
idx is 137
('adult', 'US', 1)  discount
********************************************
state is (0, 4, 6)
idx is 138
('adult', 'US', 6)  discount
********************************************
state is (0, 4, 8)
idx is 139
('adult', 'US', 8)  buy1get1
********************************************
state is (0, 1, 6)
idx is 140
('adult', 'CA', 6)  discount
********************************************
state is (2, 1, 8)
idx is 141
('young', 'CA', 8)  free_shipping
********************************************
state is (2, 0, 4)
idx is 142
('young', 'AU', 4)  buy1get1
********************************************
state is (2, 0, 8)
idx is 143
('young', 'AU', 8)  free_shipping
********************************************
state is (2, 4, 6)
idx is 144
('young', 'US', 6)  free_shipping
********************************************
state is (0, 2, 6)
idx is 145
('adult', 'IN', 6)  discount
********************************************
state is (0, 0, 3)
idx is 146
('adult', 'AU', 3)  discount
********************************************
state is (2, 4, 4)
idx is 147
('young', 'US', 4)  free_shipping
********************************************
state is (1, 3, 2)
idx is 148
('senior', 'UK', 2)  buy1get1
********************************************
state is (2, 1, 4)
idx is 149
('young', 'CA', 4)  discount
********************************************
state is (1, 2, 6)
idx is 150
('senior', 'IN', 6)  free_shipping
********************************************
state is (2, 1, 1)
idx is 151
('young', 'CA', 1)  free_shipping
********************************************
state is (1, 1, 7)
idx is 152
('senior', 'CA', 7)  free_shipping
********************************************
state is (1, 2, 3)
idx is 153
('senior', 'IN', 3)  buy1get1
********************************************
state is (2, 2, 4)
idx is 154
('young', 'IN', 4)  buy1get1
********************************************
state is (0, 0, 10)
idx is 155
('adult', 'AU', 10)  discount
********************************************
state is (2, 0, 10)
idx is 156
('young', 'AU', 10)  buy1get1
********************************************
state is (1, 3, 7)
idx is 157
('senior', 'UK', 7)  free_shipping
********************************************
state is (0, 2, 10)
idx is 158
('adult', 'IN', 10)  buy1get1
********************************************
state is (0, 3, 6)
idx is 159
('adult', 'UK', 6)  buy1get1
********************************************
state is (1, 1, 1)
idx is 160
('senior', 'CA', 1)  buy1get1
********************************************
state is (1, 4, 0)
idx is 161
('senior', 'US', 0)  free_shipping
********************************************
state is (1, 0, 3)
idx is 162
('senior', 'AU', 3)  buy1get1
********************************************
state is (0, 3, 8)
idx is 163
('adult', 'UK', 8)  buy1get1
********************************************
state is (0, 3, 10)
idx is 164
('adult', 'UK', 10)  discount
********************************************